.advantages {
    // box model
    padding: 70px 20px;

    // visual
    background-color: $crimson;
}

.advantages__header {
    // typography
    text-align: center;
}

.advantages__content {
    @include atTablet {
        // box model
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.advantages__button {
    // typography
    text-align: center;
}