.economy {
    // box model
    padding: 200px 20px;

    // typography
    color: $purple;

    @include atTablet {
        // box model
        height: auto;
        min-height: inherit;
        max-height: inherit;
    }

    @include atDesktopS {
        // box model
        padding: 160px 50;
    }
}

.economy__text {
    // box model
    margin-bottom: 40px;

    // typography
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;

    @include atTablet {
        // box model
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

.economy__value {
    // box model
    display: block;
    margin-bottom: 20px;

    // typography
    color: $crimson;
    font-size: 2.5rem;

    @include atTablet {
        // box model
        margin-bottom: 40px;

        // typography
        font-size: 5rem;
    }

    @include atDesktopS {
        // typography
        font-size: 6rem;
    }
}

.economy__button {
    // typography
    text-align: center;
}

.economy__title {
    // box model
    padding-top: 6rem;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        padding-top: 12rem;
    }
}

.economy__calculator {
    @include atTablet {
        // box model
        padding: 0 20px;
        margin-bottom: 100px;
    }

    @include atDesktopM {
        // box model
        padding: 0 calc((100% - 1040px) / 2);
    }
}
