.feature-list {
    // box model
    margin: 0;
    padding: 0;
    list-style: none;

    @include atTablet {
        // box model
        margin: 0 auto;
        width: 330px;
    }

    @include atDesktopS {
        // box model
        display: flex;
        flex-wrap: wrap;
        width: 700px;
    }

    @include atDesktopM {
        // box model
        width: 780px;
    }
}

.feature-list--get {
    @include atTablet {
        // box model
        width: 360px;
    }

    @include atDesktopS {
        // box model
        display: flex;
        flex-wrap: wrap;
        width: 720px;
    }

    @include atDesktopM {
        // box model
        width: 780px;
    }
}
