.footer {
    // box model
    padding: 50px 20px;

    // typography
    color: $purple;
    text-align: center;

    @include atDesktopS {
        // box model
        padding: 70px 50px;
        display: flex;
        justify-content: space-between;
    }
}

.footer__content {
    @include atDesktopS {
        // typography
        display: flex;
        align-items: center;
    }
}

.footer__legals {
    @include atDesktopS {
        // typography
        text-align: right;
    }
}

.footer__logo {
    // box model
    height: 72px;
    margin-bottom: 40px;

    @include atDesktopS {
        // box model
        margin-bottom: 0;
        margin-right: 40px;
    }
}

.footer__logo img {
    // box model
    height: 100%;
}

.footer__phone {
    // box model
    display: block;
    margin-bottom: 40px;

    // typography
    color: $purple;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;

    @include atDesktopS {
        // box model
        margin-bottom: 0;
        margin-right: 40px;
    }
}

.footer__contacts {
    // box model
    margin-bottom: 40px;

    // typography
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;

    @include atDesktopS {
        // typography
        text-align: left;
    }
}

.footer__copy {
    // typography
    font-size: 1rem;
    font-weight: 700;

    @include atDesktopS {
        // box model
        margin-bottom: 20px;
    }
}

.footer__policy {
    // box model
    display: block;
    margin-bottom: 30px;

    // typography
    color: $crimson;
    font-weight: 700;
    text-decoration: none;
}
