.for-you {
    // box model
    padding: 160px 20px;

    @include atTablet {
        // box model
        padding: 70px 40px;
    }

    @include atDesktopS {
        // box model
        padding: 60px 50px;
    }

    @include atDesktopM {
        // box model
        padding: 70px calc((100% - 1100px) / 2);
    }
}

.for-you__header {
    // typography
    text-align: center;

    @include atTablet {
        // box model
        margin-bottom: 60px;
    }

    @include atDesktopS {
        // box model
        max-width: 420px;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}

.for-you__content {
    // box model
    margin-bottom: 40px;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    @include atDesktopM {
        // box model
        flex-wrap: nowrap;
        align-items: flex-start;
    }
}