.format {
    // positioning
    position: relative;

    // box model
    padding: 400px 20px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        padding: 480px 90px;
    }
}