.header {
    // positioning
    position: relative;

    // box model
    // display: flex;
    // flex-direction: column;
    padding: 40px 20px;
    padding-bottom: 160px;

    // visual
    background-color: $crimson;

    @include atTablet {
        // box model
        padding: 75px 60px;
        padding-bottom: 360px;
    }

    @include atDesktopS {
        // box model
        padding: 70px 50px;
    }
}

.header::after {
    content: '';

    // positioning
    position: absolute;
    bottom: -160px;
    left: 0;
    right: 0;

    // box model
    height: 162px;
    width: 100%;

    // visual
    background-image: url('./img/bgs/header-bottom.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    
    @include atDesktopM {
        // visual
        background-image: url('./img/bgs/header-bottom-l.svg');
        background-size: 100% 162px;
    }
}

.header__logo {
    // box model
    height: 55px;
    margin-bottom: 55px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        height: 72px;
        margin-bottom: 90px;
    }

    @include atDesktopS {
        // box model
        margin-bottom: 60px;

        // typography
        text-align: left;
    }
}

.header__logo img {
    // box model
    height: 100%;
}

.header__caption {
    // box model
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 40px;
    padding: 0 10px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        max-width: 550px;
        margin-bottom: 55px;
    }

    @include atDesktopS {
        // box model
        max-width: inherit;
        margin-bottom: 40px;

        // typography
        text-align: left;
    }
}

.header__title {
    // box model
    margin: 0;
    margin-bottom: 30px;

    // typography
    color: $light;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.35;

    @include atTablet {
        // typography
        font-size: 3.15rem;
    }

    @include atDesktopS {
        // box model
        max-width: 450px;

        // typography
        font-size: 2.5rem;
    }
    
    @include atDesktopM {
        
        font-size: 3.25rem;
    }
}

.header__text {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-size: 1rem;
    line-height: 1.75;
    
    @include atTablet {
        // typography
        font-size: 1.25rem;
        font-weight: 500;
    }

    @include atDesktopS {
        // box model
        max-width: 450px;
    }
}

.header__button{
    // typography
    text-align: center;

    @include atDesktopS {
        // typography
        text-align: left;
    }
}

// decorations

.header__deco {
    // positioning
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;

    // box model
    height: 100%;
    width: 100%;

    // visual
    pointer-events: none;
}