.header {
    // box model
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 500px;
    max-height: 800px;
    padding: 40px 20px;

    // visual
    background-color: $crimson;
}

.header__logo {
    // typography
    text-align: center;
}

.header__caption {
    // box model
    margin: 0 auto;
    max-width: 490px;
    margin-bottom: 75px;

    // typography
    text-align: center;
}

.header__title {
    // box model
    margin: 0;
    margin-bottom: 80px;

    // typography
    color: $light;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.35;

    @include atTablet {
        // box model
        max-width: 600px;

        // typography
        font-size: 2.25rem;
    }

    @include atDesktopM {
        // box model
        max-width: 720px;

        // typography
        font-size: 2.5rem;
    }
}

.header__text {
    // box model
    margin: 0;

    // typography
    color: $light;
    line-height: 1.5;
}

.header__button{
    // typography
    text-align: center;
}