.opening {
    // positioning
    position: relative;

    // box model
    padding: 40px 20px;

    // visual
    background-color: $diamond;

    @include atTablet {
        // box model
        padding: 70px 40px;
        padding-bottom: 100px;
    }
}


.opening::before {
    content: '';

    // positioning
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;

    // box model
    height: 82px;
    width: 100%;

    // visual
    background-image: url('./img/bgs/opening-top.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    
    @include atDesktopM {
        // visual
        background-image: url('./img/bgs/opening-top-l.svg');
        background-size: 100% 82px;
    }
}

.opening::after {
    content: '';

    // positioning
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;

    // box model
    height: 82px;
    width: 100%;

    // visual
    background-image: url('./img/bgs/opening-bottom.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    
    @include atDesktopM {
        // visual
        background-image: url('./img/bgs/opening-bottom-l.svg');
        background-size: 100% 82px;
    }
}

.opening__header {
    // box model
    margin-bottom: 40px;
    padding: 0 10px;
    
    // typography
    text-align: center;
}

.opening__content {
    // box model
    margin-bottom: 60px;

    @include atTablet {
        // box model
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 100px;
        max-width: 600px;
    }

    @include atDesktopS {
        // box model
        max-width: 720px;
    }
}

.opening__button {
    // typography
    text-align: center;
}

// decorations

.opening__deco {
    // positioning
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;

    // box model
    height: 100%;
    width: 100%;
}
