.prices {
    // positioning
    position: relative;

    // box model
    padding: 10px 20px;

    // visual
    background-color: $crimson;

    @include atTablet {
        // box model
        padding: 100px 40px;
    }

    @include atDesktopS {
        // box model
        padding: 70px 50px;
    }

    // @include atDesktopM {
    //     // box model
    //     padding: 70px calc((100% - 1000px) / 2);
    // }
}


.prices::before {
    content: '';

    // positioning
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;

    // box model
    height: 82px;
    width: 100%;

    // visual
    background-image: url('./img/bgs/prices-top.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    
    @include atDesktopM {
        // visual
        background-image: url('./img/bgs/prices-top-l.svg');
        background-size: 100% 82px;
    }
}

.prices::after {
    content: '';

    // positioning
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;

    // box model
    height: 82px;
    width: 100%;

    // visual
    background-image: url('./img/bgs/prices-bottom.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    
    @include atDesktopM {
        // visual
        background-image: url('./img/bgs/prices-bottom-l.svg');
        background-size: 100% 82px;
    }
}

.prices__deco {
    // visual
    pointer-events: none;
}

.prices__header {
    // box model
    padding: 0 10px;

    // typography
    text-align: center;
}

.prices__content {
    @include atTablet {
        // box model
        display: flex;
        justify-content: flex-start;
        padding-top: 40px;
    }
}

.prices__count {
    // typography
    color: $light;
    font-size: 2.5rem;
    text-align: center;

    @include atTablet {
        // box model
        margin: 80px auto;

        // typography
        font-size: 5rem;
    }

    @include atDesktopS {
        // box model
        margin-top: 40px;

        // typography
        font-size: 6rem;
    }
}

.prices__buttons {
    // box model
    margin: 0 auto;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        display: flex;
        justify-content: center;
    }

    @include atDesktopS {
        // box model
        max-width: 700px;
    }
}

.price__buy {
    // box model
    margin-bottom: 30px;
}

// decorations

.prices__deco {
    // positioning
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;

    // box model
    height: 100%;
    width: 100%;
}
