.quality {
    // box model
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 40px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-basis: 25%;
        margin: 20px;
    }

    @include atDesktopS {
        // box model
        flex-basis: 27%;
        max-width: 300px;
    }

    // @include atDesktopM {
    //     // box model
    //     flex-basis: auto;
    //     margin: 0;
    //     max-width: inherit;
    // }
}

.quality__icon {
    @include atDesktopS {
        // box model
        margin: 0 auto;
        margin-bottom: 20px;
        height: 64px;
    }
}

.quality__title {
    // typography
    color: $purple;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;
}