.quality {
    // box model
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 40px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        flex-basis: 30%;
        margin: 20px 10px;
    }

    @include atDesktopM {
        // box model
        flex-basis: auto;
        margin: 0;
        max-width: inherit;
    }
}

.quality__icon {
    @include atDesktopS {
        // box model
        margin: 0 auto;
        margin-bottom: 20px;
        height: 64px;
    }
}

.quality__title {
    // typography
    color: $purple;
    line-height: 1.5;

    @include atDesktopS {
        // box model
        margin: 0 30px;
    }

    @include atDesktopM {
        // box model
        margin: 20px;
    }
}