.quote {
    // box model
    margin: 0 auto;
    margin-bottom: 80px;
    width: 200px;

    // typography
    color: $light;
}

.quote__text {
    // typography
    font: 1.2rem;
    line-height: 1.5;
}

.quote__signature {
    // typography
    color: $crimson;
    font-size: 1.2rem;
    font-weight: 700;
    text-align-last: left;
}