.remote {
    // box model
    padding: 70px 20px;
}

.remote__header {
    // box model
    padding: 0 10px;

    // typography
    text-align: center;
}

.remote__button {
    // box model
    margin-top: 40px;
    
    // typography
    text-align: center;
}