.remote {
    // box model
    padding: 160px 20px;
    padding-bottom: 300px;

    @include atTablet {
        // box model
        padding: 260px 80px;
        padding-bottom: 300px;
    }
}

.remote__header {
    // box model
    padding: 0 10px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        margin-bottom: 60px;
    }
}

.remote__button {
    // box model
    margin-top: 40px;
    
    // typography
    text-align: center;
}