.role {
    // box model
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;

    // typography
    text-align: center;

    @include atTablet {
        // positioning
        position: relative;

        // box model
        padding-left: 90px;
        max-width: 400px;
        margin-bottom: 60px;

        // typography
        text-align: left;
    }

    @include atDesktopS {
        // box model
        flex-basis: 390px;
        margin: 20px 10px;
    }

    @include atDesktopM {
        // box model
        flex-basis: 330px;
    }
}

.role__icon {
    // box model
    height: 71px;

    @include atDesktopS {
        // box model
        height: 64px;
        width: 64px;
    }
}

.role__icon img {
    // box model
    height: 100%;
}

.role__caption {

}

.role__title {
    // typography
    color: $crimson;
    font-size: 1.5rem;

    @include atTablet {
        // box model
        margin-top: 0;
    }
}

.role__desc {
    // typography
    color: $light;
    line-height: 1.5;
}