.testimonials {
  // box model
  padding: 70px 20px;

  // typography
  text-align: center;

  @include atTablet {
      // box model
      padding: 70px 40px;
  }

  @include atDesktopM {
      // box model
      padding: 100px calc((100% - 1100px) / 2);
  }
}

.testimonials__header {
  // box model
  margin-bottom: 3rem;
}

.testimonials__text {
  // box model
  display: flex;
  // justify-content: space-around;
  flex-wrap: wrap;
  // align-items: center;
}

.testimonials__video {

}
