.u-get {
    // box model
    padding: 160px 20px;

    @include atTablet {
        // box model
        padding: 160px 80px;
    }

    @include atDesktopS {
        // box model
        padding: 70px 50px;
    }

    @include atDesktopM {
        // box model
        padding: 70px calc((100% - 1100px) / 2);
    }
}

.u-get__header {
    // typography
    text-align: center;

    @include atTablet {
        // box model
        margin-bottom: 60px;
    }

    @include atDesktopS {
        // box model
        margin: 0 auto;
        margin-bottom: 60px;
        max-width: 500px;
    }
}

.u-get__content {
    // box model
    padding: 0 5px;

    @include atTablet {
        // box model
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0;
    }
}