.who-suit {
    // positioning
    position: relative;

    // box model
    padding: 10px 20px;
    padding-bottom: 40px;

    // visual
    background-color: $purple;

    @include atDesktopS {
        // box model
        padding: 70px 50px;
    }

    @include atDesktopM {
        // box model
        padding: 70px calc((100% - 1040px) / 2);
    }
}

.who-suit::before {
    content: '';

    // positioning
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;

    // box model
    height: 82px;
    width: 100%;

    // visual
    background-image: url('./img/bgs/who-suit-top.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    
    @include atDesktopM {
        // visual
        background-image: url('./img/bgs/who-suit-top-l.svg');
        background-size: 100% 82px;
    }
}

.who-suit::after {
    content: '';

    // positioning
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;

    // box model
    height: 82px;
    width: 100%;

    // visual
    background-image: url('./img/bgs/who-suit-bottom.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    
    @include atDesktopM {
        // visual
        background-image: url('./img/bgs/who-suit-bottom-l.svg');
        background-size: 100% 82px;
    }
}

.who-suit__header {
    // box model
    margin-bottom: 40px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        margin-bottom: 60px;
    }

    @include atDesktopS {
        // box model
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

.who-suit__content {
    // box model
    margin-bottom: 40px;

    @include atTablet {
        // box model
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 660px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    @include atDesktopS {
        // box model
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 40px;
        max-width: inherit;
    }

    @include atDesktopM {
        // box model
        justify-content: space-between;
    }
}

.who-suit__button {
    // typography
    text-align: center;

    @include atDesktopM {
        // box model
        width: 100%;
    }
}

// decorations

.who-suit__deco {
    // positioning
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;

    // box model
    height: 100%;
    width: 100%;

    // visual
    pointer-events: none;
}