html {
    // typography
    color: $dark;
    font-family: 'Montserrat', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

// Box sizing fix
body {
    // box model
    box-sizing: border-box;
}

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;
}