html {
    // positioning
    position: relative;
    height: 100%;

    // typography
    color: $dark;
    font-family: 'Montserrat', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 12px;

    // visual
    // -webkit-overflow-scrolling: touch;
}

// Box sizing fix
body {
    // box model
    box-sizing: border-box;

    @include atDesktopS {
        // visual
        overflow-x: hidden;
    }
}

main {
    // visual
    overflow: hidden;
}

*,
*::before,
*::after {
    // box model
    box-sizing: inherit;
}