<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")
        title Купить франшизу Jelly Cat


    body
        header.header
            .header__deco
                .deco-layer.deco-layer--dots
                    .dot.dot--s.dot--org.dot--1
                    .dot.dot--s.dot--red.dot--2
                    .dot.dot--m.dot--pur.dot--3
                    .dot.dot--l.dot--org.dot--4
                .deco-layer.deco-layer--images
                    .cat.cat--pur-1
                    .cat.cat--slp-1
                    .blob.blob--3
                    .cat.cat--sml-1
                .deco-layer.deco-layer--blobs
                    .blob.blob--1
                    .blob.blob--2

            .header__logo
                img(src="./img/logo-white.svg", alt="Логотип франшизы Jelly Cat")

            .header__caption
                h1.header__title Jelly Cat — франшиза интернет магазина сладостей со всего мира
                p.header__text Яркие, вкусные, запоминающиеся, притягательные. Это&nbsp;выделяет нас на&nbsp;рынке сладостей и&nbsp;является весомым конкурентным преимуществом.

            .header__button
                a.button.contact-button(href="#") Узнать подробнее


        section.format
            .format__deco
                .deco-layer.deco-layer--dots
                    .dot.dot--s.dot--red.dot--5
                    .dot.dot--s.dot--red.dot--6
                    .dot.dot--l.dot--org.dot--7
                    .dot.dot--l.dot--pur.dot--8
                .deco-layer.deco-layer--images
                    .deco.deco--ok
                    .deco.deco--fb
                    .deco.deco--vk
                    .deco.deco--inst

            header.format__header
                h2.section-title Формат магазина <br>Jelly Cat
                p.section-subtitle Jelly Cat — интернет–магазин сладостей и&nbsp;сладких подарков. В&nbsp;вашем распоряжении будут такие площадки, как: сайт–магазин, VK, Instagram, Facebook, Ok.ru


        section.who-suit
            header.who-suit__header
                h2.section-title.section-title--light Кому подойдёт <br>такой бизнес

            .who-suit__content
                article.role
                    .role__icon: img(src="./img/icons/employer.svg", alt="Иконка предпринимателя")
                    h3.role__title Предпринимателям
                    p.role__desc Создать ещё один источник дохода и&nbsp;зарабатывать в&nbsp;разы больше

                article.role
                    .role__icon: img(src="./img/icons/mother.svg", alt="Иконка мамы")
                    h3.role__title Мамам в декрете
                    p.role__desc Начать собственное дело, при этом зарабатывая находясь рядом с&nbsp;семьёй

                article.role
                    .role__icon: img(src="./img/icons/student.svg", alt="Иконка студента")
                    h3.role__title Студентам
                    p.role__desc Для тех, кто хочет перестать жить за&nbsp;счёт родителей и&nbsp;перестать изматывать себя на&nbsp;копеечных подработках

            .who-suit__button
                a.button.button--red.contact-button(href="#") Мне подходит


        section.for-you
            header.for-you__header
                h2.section-title.section-title--purple Этот бизнес для Вас, <br>если Вы:

            .for-you__content
                article.quality
                    .quality__icon: img(src="./img/icons/hand.svg", alt="Иконка руки с монетой")
                    h3.quality__title Хотите начать своё&nbsp;дело без&nbsp;внушительных затрат

                article.quality
                    .quality__icon: img(src="./img/icons/money.svg", alt="Иконка стопки монет")
                    h3.quality__title Настроены изменить своё финансовое положение

                article.quality
                    .quality__icon: img(src="./img/icons/laugh.svg", alt="Иконка смеющихся людей")
                    h3.quality__title Любите общение <br>с&nbsp;людьми

                article.quality
                    .quality__icon: img(src="./img/icons/shield.svg", alt="Иконка щита")
                    h3.quality__title Развиваетесь и&nbsp;любите <br>узнавать новое

                article.quality
                    .quality__icon: img(src="./img/icons/development.svg", alt="Иконка графика")
                    h3.quality__title Несёте ответственность <br>за&nbsp;свою жизнь


        section.advantages
            header.advantages__header
                h2.section-title.section-title--light Преимущества <br>Jelly Cat

            .advantages__content
                ul.feature-list
                    li.feature.feature--adv <strong>1 месяц на&nbsp;полную окупаемость и&nbsp;выход на&nbsp;прибыль</strong>

                    li.feature.feature--adv Опыт основателей в&nbsp;бизнесе более 10&nbsp;лет

                    li.feature.feature--adv Обучающая информация и&nbsp;брендбук компании — 1&nbsp;час работы в день, можно совмещать с&nbsp;учёбой и&nbsp;работой

                    li.feature.feature--adv Быстрая поддержка по&nbsp;любым вопросам

                    li.feature.feature--adv Постоянно обновляющийся каталог качественной продукции от&nbsp;производителя

                    li.feature.feature--adv Отлаженная и&nbsp;быстрая логистика. Приём заказов круглосуточно

                    li.feature.feature--adv Доход позволит Вам нанять менеджера и&nbsp;только забирать деньги с&nbsp;бизнеса, бизнес станет для&nbsp;Вас пассивным заработком

            .advantages__button
                a.button.contact-button(href="#") Узнать подробнее


        section.u-get
            header.u-get__header
                h2.section-title.section-title--purple Что вы получите после приобретения франшизы

            .u-get__content
                ul.feature-list
                    li.feature.feature--get Готовую бизнес–модель с&nbsp;доходностью от&nbsp;50&nbsp;000₽ в&nbsp;месяц

                    li.feature.feature--get Обучающие материалы и поддержку 24/7

                    li.feature.feature--get Продвижение от профессионалов в Instagram. В холдинг JAST входит федеральная сеть маркетинговых агентств

                    li.feature.feature--get Фирменный стиль компании, логотипы, визитки, каталоги продукции

                    li.feature.feature--get Бесплатная и быстрая доставка товара через ответственного менеджера по закупкам

                    li.feature.feature--get Персональный менеджер, который решит любую проблему в любое время суток

                    li.feature.feature--get Доступ к огромному ассортименту сладостей + постоянное пополнение

                    li.feature.feature--get Скрипты ведения переговоров

                    li.feature.feature--get Маркетинговая поддержка, привлечение целевых пользователей, настройка рекламных кампаний


        section.opening
            header.opening__header
                h2.section-title.section-title--light При открытии <br>бизнеса

            .opening__content
                p.work-part <span class="work-part__percent">80%</span> работы мы сделаем за Вас: <br>создадим Instagram магазин, поможем в&nbsp;его продвижении и направим поток клиентов.

                p.work-part <span class="work-part__percent work-part__percent--crimson">20%</span> работы останется за Вами: <br>обрабатывать входящие заявки и&nbsp;получать доход.

            .opening__button
                a.button.contact-button.button--red(href="#") Узнать подробнее


        section.economy
            p.economy__text <span class="economy__value">до <strong>700&nbsp;000</strong> ₽</span> вы сможете заработать <br>за&nbsp;год, работая с нами

            .economy__button
                a.button.contact-button.button--red(href="#") Начать зарабатывать


        section.prices
            header.prices__header
                h2.section-title.section-title--light Стоимость франшизы

            p.prices__count <strong>100&nbsp;000</strong> ₽

            .prices__buttons
                a.button.button--260.contact-button(href="#") Купить в кредит
                a.button.button--260.contact-button(href="#") Купить


        section.remote
            header.remote__header
                h2.section-title Удалённый контроль бизнеса
                p.section-subtitle.section-subtitle--dark Бизнес полностью автоматизирован, не&nbsp;требует от&nbsp;вас содержания офиса и&nbsp;штата. В&nbsp;среднем, по&nbsp;истечению двух месяцев с&nbsp;момента старта, наши партнёры делегируют управление бизнесом.

            .remote__button
                a.button.contact-button.button--red(href="#") Оставить заявку


        section.about
            header.about__header
                h2.section-title.section-title--light О нас пишут

            .about__quotes
                article.quote
                    p.quote__text Компании Jast Holding мало места на&nbsp;рынке России, и&nbsp;она выходит на&nbsp;страны СНГ
                    p.quote__signature Forbes

                article.quote
                    p.quote__text Как бизнес-идеи калининградцев зарабатывают миллионы по&nbsp;всему миру
                    p.quote__signature Комсомольская правда

            .about__content
                article.ref: img(src="./img/icons/forbes.svg", alt="Forbes", height="30")
                article.ref: img(src="./img/icons/beboss.png", alt="БиБосс", height="35")
                article.ref: img(src="./img/icons/24-mir.svg", alt="24 мир", height="45")
                article.ref: img(src="./img/icons/businessmens.svg", alt="Бизнесменс", height="20")
                article.ref.ref--spc: img(src="./img/icons/rbk.svg", alt="РБК", height="23")
                article.ref: img(src="./img/icons/top-franchise.png", alt="TopFranchise.ru", height="23")


        footer.footer
            .footer__content
                .footer__logo
                    img(src="./img/logo-pink.svg", alt="Логотип Jelly Cat")

                p.footer__contacts ООО «ВИР ХОЛДИНГ» <br>Россия, г. Калининград <br>ул. Театральная, 35, офис 616
                a.footer__phone(href="tel:88002224608") 8 (800) 222 46 08

            .footer__legals
                a.footer__policy(href="#") Политика конфиденциальности
                p.footer__copy Jelly Cat © 2019


        .contact-popup.contact-popup--hidden
            button.contact-popup__close
            .contact-popup__cover
            .contact-popup__form
                form.form(action="")
                    h2.form__title Оставьте заявку
                    .form__input-grp
                        input.form__input(type="text" name="name" placeholder="Имя" required)
                    .form__input-grp
                        input.form__input(type="email" name="email" placeholder="Email" required)
                    .form__input-grp
                        input.form__input(type="tel" name="phone" placeholder="Телефон" required)
                    input.form__submit(type="submit", value="Отправить")
                    p.form__text Мы не передаем Вашу персональную информацию третьим лицам


        .policy-popup.policy-popup--hidden
            button.policy-popup__close
            .policy-popup__content
                h2 Политика конфиденциальности
                p Соблюдение Вашей конфиденциальности важно для нас. По этой причине, мы разработали Политику Конфиденциальности, которая описывает, как мы используем и храним Вашу информацию. Пожалуйста, ознакомьтесь с нашими правилами соблюдения конфиденциальности и сообщите нам, если у вас возникнут какие-либо вопросы.

                h3 Сбор и использование персональной информации
                p Под персональной информацией понимаются данные, которые могут быть использованы для идентификации определенного лица либо связи с ним.
                p От вас может быть запрошено предоставление вашей персональной информации в любой момент, когда вы связываетесь с нами.
                p Ниже приведены некоторые примеры типов персональной информации, которую мы можем собирать, и как мы можем использовать такую информацию.
                p Какую персональную информацию мы собираем:

                ul
                    li Когда вы оставляете заявку на сайте, мы можем собирать различную информацию, включая ваши имя, номер телефона, адрес электронной почты и т.д.

                p Как мы используем вашу персональную информацию:
                ul
                    li Собираемая нами персональная информация позволяет нам связываться с вами и сообщать об уникальных предложениях, акциях и других мероприятиях и ближайших событиях.
                    li Время от времени, мы можем использовать вашу персональную информацию для отправки важных уведомлений и сообщений.
                    li Мы также можем использовать персональную информацию для внутренних целей, таких как проведения аудита, анализа данных и различных исследований в целях улучшения услуг предоставляемых нами и предоставления Вам рекомендаций относительно наших услуг.
                    li Если вы принимаете участие в розыгрыше призов, конкурсе или сходном стимулирующем мероприятии, мы можем использовать предоставляемую вами информацию для управления такими программами.

                h3 Раскрытие информации третьим лицам
                p Мы не раскрываем полученную от Вас информацию третьим лицам.
                p Исключения:
                ul
                    li В случае если необходимо — в соответствии с законом, судебным порядком, в судебном разбирательстве, и/или на основании публичных запросов или запросов от государственных органов на территории РФ — раскрыть вашу персональную информацию. Мы также можем раскрывать информацию о вас если мы определим, что такое раскрытие необходимо или уместно в целях безопасности, поддержания правопорядка, или иных общественно важных случаях.
                    li В случае реорганизации, слияния или продажи мы можем передать собираемую нами персональную информацию соответствующему третьему лицу – правопреемнику.

                h3 Защита персональной информации
                p Мы предпринимаем меры предосторожности — включая административные, технические и физические — для защиты вашей персональной информации от утраты, кражи, и недобросовестного использования, а также от несанкционированного доступа, раскрытия, изменения и уничтожения.

                h3 Соблюдение вашей конфиденциальности на уровне компании
                p Для того чтобы убедиться, что ваша персональная информация находится в безопасности, мы доводим нормы соблюдения конфиденциальности и безопасности до наших сотрудников, и строго следим за исполнением мер соблюдения конфиденциальности.


        script(src="scripts.js")
