<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")
        title Jelly-Cat
    body
        header.header
            .header__logo
                .logo: img(src="./img/logo-temp.png", alt="Логотип франшизы Jelly Cat")

            .header__caption
                h1.header__title Jelly Cat - франшиза интернет магазина сладостей со всего  мира
                p.header__text Яркие, вкусные, запоминающиеся, притягательные. Это выделяет нас на рынке сладостей и является весомым конкурентным преимуществом

            .header__button
                a.button.contact-button(href="#") Узнать подробнее

        section.format
            header.format__header
                h2.section-title Формат магазинов Jelly Cat
                p.section-subtitle Jelly Cat - интернет-магазин сладостей и сладких подарков. В вашем распоряжении будут такие площадки, как: Сайт-магазин, Vk, Instagram, Facebook, Ok.ru

        section.who-suit
            header.who-suit__header
                h2.section-title.section-title--light Кому подойдёт такой бизнес

            .who-suit__content
                article.role
                    .role__icon: img(src="./img/icons/employer.svg", alt="Иконка предпринимателя")
                    .role__caption
                        h3.role__title Предпринимателям
                        p.role__desc Создать ещё один источник дохода и&nbsp;зарабатывать в&nbsp;разы больше

                article.role
                    .role__icon: img(src="./img/icons/mother.svg", alt="Иконка мамы")
                    .role__caption
                        h3.role__title Мамам в декрете
                        p.role__desc Начать собственное дело, при этом зарабатывая находясь рядом с&nbsp;семьёй

                article.role
                    .role__icon: img(src="./img/icons/student.svg", alt="Иконка студента")
                    .role__caption
                        h3.role__title Студентам
                        p.role__desc Для тех, кто хочет перестать жить за&nbsp;счёт родителей и&nbsp;перестать изматывать себя на&nbsp;копеечных подработках

            .who-suit__button
                a.button.contact-button.button--red(href="#") Мне подходит

        section.for-you
            header.for-you__header
                h2.section-title Этот бизнес для Вас, если Вы:

            .for-you__content
                article.quality
                    .quality__icon: img(src="./img/icons/hand.svg", alt="Иконка руки с монетой")
                    h3.quality__title Хотите начать своё&nbsp;дело без внушительных затрат

                article.quality
                    .quality__icon: img(src="./img/icons/money.svg", alt="Иконка стопки монет")
                    h3.quality__title Настроены изменить своё финансовое положение

                article.quality
                    .quality__icon: img(src="./img/icons/laugh.svg", alt="Иконка смеющихся людей")
                    h3.quality__title Любите общение с&nbsp;людьми

                article.quality
                    .quality__icon: img(src="./img/icons/family.svg", alt="Иконка семьи")
                    h3.quality__title Хотите больше времени быть с&nbsp;семьёй и&nbsp;друзьями

                article.quality
                    .quality__icon: img(src="./img/icons/shield.svg", alt="Иконка щита")
                    h3.quality__title Развиваетесь и&nbsp;любите узнавать новое

                article.quality
                    .quality__icon: img(src="./img/icons/development.svg", alt="Иконка графика")
                    h3.quality__title Несёте ответственность за&nbsp;свою жизнь

        section.advantages
            header.advantages__header
                h2.section-title.section-title--light Преимущества Jelly Cat

            .advantages__content
                article.feature
                    p.feature__desc 1 месяц на&nbsp;полную окупаемость и&nbsp;выход на&nbsp;прибыль

                article.feature
                    p.feature__desc Опыт основателей в&nbsp;бизнесе 10&nbsp;лет

                article.feature
                    p.feature__desc Обучающая информация и&nbsp;брендбук компании — 1&nbsp;час работы в день, можно совмещать с&nbsp;учёбой и&nbsp;работой

                article.feature
                    p.feature__desc Быстрая поддержка по&nbsp;любым вопросам

                article.feature
                    p.feature__desc Постоянно обновляющийся каталог качественной продукции от&nbsp;производителя

                article.feature
                    p.feature__desc Отлаженная и&nbsp;быстрая логистика. Приём заказов круглосуточно

                article.feature
                    p.feature__desc Доход позволит Вам нанять менеджера и&nbsp;только забирать деньги с&nbsp;бизнеса, бизнес станет для&nbsp;Вас пассивным заработком

            .advantages__button
                a.button.contact-button(href="#") Узнать подробнее

        section.u-get
            header.u-get__header
                h2.section-title.section-title--purple Что вы получите после приобритения франшизы

            .u-get__content
                article.get-item
                    .get-item__icon
                        img(src="./img/icons/checked.svg", alt="")
                    p.get-item__desc Готовую бизнес-модель&nbsp;с доходом от 50&nbsp;000 рублей в&nbsp;месяц

                article.get-item
                    .get-item__icon
                        img(src="./img/icons/checked.svg", alt="")
                    p.get-item__desc Обучающие материалы и поддержку 24/7

                article.get-item
                    .get-item__icon
                        img(src="./img/icons/checked.svg", alt="")
                    p.get-item__desc Продвижение от профессионалов в Instagram. В холдинг JAST входит федеральная сеть маркетинговых агенств

                article.get-item
                    .get-item__icon
                        img(src="./img/icons/checked.svg", alt="")
                    p.get-item__desc Фирменный стиль компании, логотипы, визитки, каталоги продукции

                article.get-item
                    .get-item__icon
                        img(src="./img/icons/checked.svg", alt="")
                    p.get-item__desc Бесплатная и быстрая доставка товара через ответственного менеджера по закупкам

                article.get-item
                    .get-item__icon
                        img(src="./img/icons/checked.svg", alt="")
                    p.get-item__desc Персональный менеджер, который решит любую проблему в любое время суток

                article.get-item
                    .get-item__icon
                        img(src="./img/icons/checked.svg", alt="")
                    p.get-item__desc Доступ к огромному ассортименту сладостей + постоянное пополнение

                article.get-item
                    .get-item__icon
                        img(src="./img/icons/checked.svg", alt="")
                    p.get-item__desc Скрипты ведения переговоров

                article.get-item
                    .get-item__icon
                        img(src="./img/icons/checked.svg", alt="")
                    p.get-item__desc Маркетиноговая поддержка, привлечение целевых пользователей, настройка рекламных кампаний

        section.opening
            header.opening__header
                h2.section-title.section-title--light При открытии бизнеса

            .opening__content
                p.work-part <span class="work-part__percent">80%</span> работы мы сделаем за Вас: <br>создадим Instagram магазин, поможем в&nbsp;его продвижении и направим поток клиентов.

                p.work-part <span class="work-part__percent work-part__percent--crimson">20%</span> работы останется за Вами: <br>обрабатывать входящие заявки и&nbsp;получать доход.

                .opening__button
                    a.button.contact-button.button--red(href="#") Узнать подробнее

        section.economy
            p.economy__text <span class="economy__value">до 700&nbsp;000 ₽</span> вы сможете заработать за год, работая с нами

            .economy__button
                a.button.contact-button.button--red(href="#") Начать зарабатывать

        section.prices
            header.prices__header
                h2.section-title.section-title--light Cтоимость франшизы

            p.prices__count 100&nbsp;000 ₽

            .prices__buttons
                a.price__buy.button.contact-button(href="#") Купить в кредит
                a.button.contact-button(href="#") Купить

        section.remote
            header.prices__header
                h2.section-title Удалённый контроль бизнеса
                p.section-subtitle.section-subtitle--dark Бизнес полностью автоматизован, не требует от вас содержания офиса и штата. В среднем, по истечению двух месяцев с момента старта, наши партнёры делегируют управление бизнесом.

            .remote__button
                a.button.contact-button.button--red(href="#") Оставить заявку

        section.about
            header.about__header
                h2.section-title.section-title--light О нас пишут

            .about__quotes
                article.quote
                    p.quote__text Компании Jast Holding мало места на рынке России, и она выходит на страны СНГ
                    p.quote__signature Forbes

                article.quote
                    p.quote__text Как бизнес-идеи калининградцев зарабатывают миллионы по всему миру
                    p.quote__signature Комсомольская правда

            .about__content
                aritcle.ref: img(src="./img/icons/forbes.svg", alt="Forbes" height="45")
                aritcle.ref: img(src="./img/icons/beboss.png", alt="БиБосс" height="30")
                aritcle.ref: img(src="./img/icons/24-mir.svg", alt="24 мир" height="45")
                aritcle.ref: img(src="./img/icons/businessmens.svg", alt="Бизнесменс" height="22")
                aritcle.ref.ref--spc: img(src="./img/icons/rbk.svg", alt="РБК" height="25")
                aritcle.ref: img(src="./img/icons/top-franchise.png", alt="TopFranchise.ru" height="25")

        footer.footer
            .footer__content
                .footer__logo
                    img(src="./img/logo-temp.png", alt="Логотип Jelly Cat")

                a.footer__phone(href="tel:88002224608") 8 (800) 222 46 08
                p.footer__contacts ООО «ВИР ХОЛДИНГ» <br>Россия, г. Калининград <br>ул. Театральная, 35, офис 616

            .footer__legals
                a.footer__policy(href="#") Политика конфиденциальности
                p.footer__copy Jelly Cat © 2019

        .contact-popup.contact-popup--hidden
            button.contact-popup__close
            .contact-popup__cover
            .contact-popup__form
                form.form(action="")
                    h2.form__title Оставьте заявку
                    .form__input-grp
                        input.form__input(type="text" name="name" placeholder="Имя" required)
                    //- .form__input-grp
                        input.form__input(type="text" name="city" placeholder="Ваш город" required)
                    .form__input-grp
                        input.form__input(type="email" name="email" placeholder="Email" required)
                    .form__input-grp
                        input.form__input(type="tel" name="phone" placeholder="Телефон" required)
                    input.form__submit(type="submit", value="Отправить")
                    p.form__text Мы не передаем Вашу персональную информацию третьим лицам

        .policy-popup.policy-popup--hidden
            button.policy-popup__close
            .policy-popup__content
                h2 Политика конфиденциальности
                p Соблюдение Вашей конфиденциальности важно для нас. По этой причине, мы разработали Политику Конфиденциальности, которая описывает, как мы используем и храним Вашу информацию. Пожалуйста, ознакомьтесь с нашими правилами соблюдения конфиденциальности и сообщите нам, если у вас возникнут какие-либо вопросы.

                h3 Сбор и использование персональной информации
                p Под персональной информацией понимаются данные, которые могут быть использованы для идентификации определенного лица либо связи с ним.
                p От вас может быть запрошено предоставление вашей персональной информации в любой момент, когда вы связываетесь с нами.
                p Ниже приведены некоторые примеры типов персональной информации, которую мы можем собирать, и как мы можем использовать такую информацию.
                p Какую персональную информацию мы собираем:

                ul
                    li Когда вы оставляете заявку на сайте, мы можем собирать различную информацию, включая ваши имя, номер телефона, адрес электронной почты и т.д.

                p Как мы используем вашу персональную информацию:
                ul
                    li Собираемая нами персональная информация позволяет нам связываться с вами и сообщать об уникальных предложениях, акциях и других мероприятиях и ближайших событиях.
                    li Время от времени, мы можем использовать вашу персональную информацию для отправки важных уведомлений и сообщений.
                    li Мы также можем использовать персональную информацию для внутренних целей, таких как проведения аудита, анализа данных и различных исследований в целях улучшения услуг предоставляемых нами и предоставления Вам рекомендаций относительно наших услуг.
                    li Если вы принимаете участие в розыгрыше призов, конкурсе или сходном стимулирующем мероприятии, мы можем использовать предоставляемую вами информацию для управления такими программами.

                h3 Раскрытие информации третьим лицам
                p Мы не раскрываем полученную от Вас информацию третьим лицам.
                p Исключения:
                ul 
                    li В случае если необходимо — в соответствии с законом, судебным порядком, в судебном разбирательстве, и/или на основании публичных запросов или запросов от государственных органов на территории РФ — раскрыть вашу персональную информацию. Мы также можем раскрывать информацию о вас если мы определим, что такое раскрытие необходимо или уместно в целях безопасности, поддержания правопорядка, или иных общественно важных случаях.
                    li В случае реорганизации, слияния или продажи мы можем передать собираемую нами персональную информацию соответствующему третьему лицу – правопреемнику.

                h3 Защита персональной информации
                p  Мы предпринимаем меры предосторожности — включая административные, технические и физические — для защиты вашей персональной информации от утраты, кражи, и недобросовестного использования, а также от несанкционированного доступа, раскрытия, изменения и уничтожения.

                h3 Соблюдение вашей конфиденциальности на уровне компании
                p Для того чтобы убедиться, что ваша персональная информация находится в безопасности, мы доводим нормы соблюдения конфиденциальности и безопасности до наших сотрудников, и строго следим за исполнением мер соблюдения конфиденциальности.

        script(src="scripts.js")