.blob {
    // positioning
    position: absolute;

    // visual
    // border: 1px solid green;

    // visual
    background-repeat: no-repeat;
    background-size: contain;
}

.blob--1 {
    // positioning
    transform: rotate(-45deg);
    left: 95px;
    top: 570px;

    // box model
    height: 149px;
    width: 226px;

    // visual
    background-image: url('./img/deco/blob-1.svg');
}

.blob--2 {
    // positioning
    left: 45px;
    top: 480px;

    // box model
    height: 86px;
    width: 133px;

    // visual
    background-image: url('./img/deco/blob-2.svg');
}

.blob--3 {
    // visual
    background-image: url('./img/deco/blob-3.svg');
}


.blob--4 {
    // positioning
    right: 10px;
    top: -40px;

    // box model
    height: 81px;
    width: 125px;

    // visual
    background-image: url('./img/deco/blob-1.svg');
}

.blob--5 {
    // positioning
    left: 43px;
    top: 780px;

    // box model
    height: 69px;
    width: 110px;

    // visual
    background-image: url('./img/deco/blob-1.svg');
}

.blob--6 {
    // positioning
    transform: rotate(-60deg);
    right: -20px;
    top: -130px;

    // box model
    height: 110px;
    width: 110px;

    // visual
    background-image: url('./img/deco/blob-3.svg');
}

.blob--7 {
    // positioning
    transform: rotate(-50deg);
    right: 10px;
    top: 640px;

    // box model
    height: 160px;
    width: 160px;

    // visual
    background-image: url('./img/deco/blob-1.svg');
}