.blob {
    // positioning
    position: absolute;

    // visual
    background-repeat: no-repeat;
    background-size: contain;
}

.blob--1 {
    // positioning
    left: 125px;
    bottom: -180px;

    // box model
    height: 229px;
    width: 160px;

    // visual
    background-image: url('./img/deco/blob-1.svg');

    @include atTablet {
        // positioning
        left: 195px;
        bottom: -120px;

        // box model
        height: 306px;
        width: 358px;
    }
}

.blob--2 {
    // positioning
    left: 45px;
    bottom: 55px;

    // box model
    height: 86px;
    width: 133px;

    // visual
    background-image: url('./img/deco/blob-2.svg');

    @include atTablet {
        // positioning
        left: 80px;
        bottom: 215px;

        // box model
        height: 122px;
        width: 189px;
    }
}

.blob--3 {
    // positioning
    left: 90px;
    bottom: -125px;

    // box model
    width: 79px;
    height: 140px;

    // visual
    background-image: url('./img/deco/blob-4.svg');

    @include atTablet {
        // positioning
        left: 125px;
        bottom: -90px;

        // box model
        width: 125px;
        height: 221px;
    }
}

.blob--4 {
    // positioning
    right: -10px;
    top: -30px;

    // box model
    height: 72px;
    width: 120px;

    // visual
    background-image: url('./img/deco/blob-5.svg');

    @include atTablet {
        // positioning
        right: 80px;

        // box model
        height: 129px;
        width: 198px;
    }

    @include atDesktopS {
        // positioning
        right: 45px;
        top: 20px;
    }
}

.blob--5 {
    // positioning
    left: 30px;
    bottom: -35px;

    // box model
    height: 72px;
    width: 120px;

    // visual
    background-image: url('./img/deco/blob-5.svg');

    @include atTablet {
        // positioning
        left: -5px;
        bottom: 260px;

        // box model
        height: 107px;
        width: 180px;
    }

    @include atDesktopS {
        // positioning
        left: -40px;
        bottom: 190px;
    }
}

.blob--6 {
    // positioning
    transform: rotate(-60deg);
    right: -20px;
    top: -130px;

    // box model
    height: 110px;
    width: 110px;

    // visual
    background-image: url('./img/deco/blob-3.svg');

    @include atTablet {
        // positioning
        right: -40px;
        top: -190px;

        // box model
        height: 174px;
        width: 174px;
    }
}

.blob--7 {
    // positioning
    right: 10px;
    bottom: -140px;

    // box model
    height: 160px;
    width: 160px;

    // visual
    background-image: url('./img/deco/blob-1.svg');

    @include atTablet {
        // positioning
        right: -10px;
        bottom: -70px;

        // box model
        height: 220px;
        width: 220px;
    }

    @include atDesktopS {
        // positioning
        bottom: -50px;
    }
}

.blob--101 {
    // box model
    display: none;

    @include atTablet {
        // positioning
        left: 0;
        top: -300px;

        // box model
        display: block;
        height: 277px;
        width: 277px;

        // visual
        background-image: url('./img/deco/blob-3.svg');
    }

    @include atDesktopS {
        // positioning
        top: -360px;
    }
}
