.blob {
    // positioning
    position: absolute;

    // visual
    // border: 1px solid green;

    // visual
    background-repeat: no-repeat;
    background-size: contain;
}

.blob--1 {
    // positioning
    transform: rotate(-45deg);
    left: 95px;
    top: 570px;

    // box model
    height: 149px;
    width: 226px;

    // visual
    background-image: url('./img/deco/blob-1.svg');

    @include atTablet {
        // positioning
        left: 135px;
        top: 800px;

        // box model
        height: 236px;
        width: 358px;
    }
}

.blob--2 {
    // positioning
    left: 45px;
    top: 480px;

    // box model
    height: 86px;
    width: 133px;

    // visual
    background-image: url('./img/deco/blob-2.svg');

    @include atTablet {
        // positioning
        left: 80px;
        top: 650px;

        // box model
        height: 122px;
        width: 189px;
    }
}

.blob--3 {
    // positioning
    left: 90px;
    top: 600px;

    // box model
    width: 79px;
    height: 140px;

    // visual
    background-image: url('./img/deco/blob-4.svg');

    @include atTablet {
        // positioning
        left: 125px;
        top: 855px;

        // box model
        width: 125px;
        height: 221px;
    }
}


.blob--4 {
    // positioning
    right: 10px;
    top: -40px;

    // box model
    height: 81px;
    width: 125px;

    // visual
    background-image: url('./img/deco/blob-1.svg');

    @include atTablet {
        // positioning
        right: 80px;

        // box model
        height: 129px;
        width: 198px;
    }
}

.blob--5 {
    // positioning
    left: 43px;
    top: 780px;

    // box model
    height: 69px;
    width: 110px;

    // visual
    background-image: url('./img/deco/blob-1.svg');

    @include atTablet {
        // positioning
        left: -5px;
        top: 615px;

        // box model
        height: 107px;
        width: 180px;
    }
}

.blob--6 {
    // positioning
    transform: rotate(-60deg);
    right: -20px;
    top: -130px;

    // box model
    height: 110px;
    width: 110px;

    // visual
    background-image: url('./img/deco/blob-3.svg');
}

.blob--7 {
    // positioning
    transform: rotate(-50deg);
    right: 10px;
    top: 640px;

    // box model
    height: 160px;
    width: 160px;

    // visual
    background-image: url('./img/deco/blob-1.svg');
}