.cat {
    // positioning
    position: absolute;

    // visual
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes move-cat-slp-1 {
    0%   { transform: rotate(-60deg); }
    50% { transform: rotate(-70deg); }
    100% { transform: rotate(-60deg); }
}

@keyframes move-cat-pur-1 {
    0%   { transform: rotate(0deg); }
    50% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}


.cat--sml-1 {
    // positioning
    transform: rotate(35deg);
    left: 197px;
    bottom: -125px;

    // box model
    height: 81px;
    width: 62px;

    // visual
    background-image: url(./img/deco/cat-small-r.svg);

    @include atTablet {
        // positioning
        left: 305px;
        bottom: -100px;

        // box model
        height: 128px;
        width: 98px;
    }

    @include atDesktopS {
        // positioning
        left: 458px;
        bottom: -150px;

        // box model
        height: 192px;
        width: 147px;

        transform-origin: 50% 50%;
        animation-name: move-cat;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

.cat--slp-1 {
    // positioning
    transform: rotate(-70deg);
    left: 43px;
    bottom: -80px;

    // box model
    height: 190px;
    width: 190px;

    // visual
    background-image: url(./img/deco/cat-sleep-r.svg);

    @include atTablet {
        // positioning
        left: 50px;
        bottom: -35px;

        // box model
        height: 320px;
        width: 320px;
    }

    @include atDesktopS {
        // positioning
        left: 75px;
        bottom: -53px;

        // box model
        height: 480px;
        width: 480px;

        transform-origin: 50% 50%;
        animation-name: move-cat-slp-1;
        animation-duration: 10s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
}

.cat--pur-1 {
    // positioning
    left: 40px;
    bottom: -165px;
    z-index: 2;

    // box model
    height: 205px;
    width: 190px;

    // visual
    background-image: url(./img/deco/cat-purple.svg);

    @include atTablet {
        // positioning
        left: 50px;
        bottom: -150px;

        // box model
        height: 310px;
        width: 310px;
    }

    @include atDesktopS {
        // positioning
        left: 75px;
        bottom: -225px;

        // box model
        height: 465px;
        width: 465px;

        transform-origin: 50% 50%;
        // animation-name: move-cat-pur-1;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

.cat--slp-2 {
    // positioning
    left: 20px;
    top: -320px;
    z-index: 1;

    // box model
    height: 190px;
    width: 190px;

    // visual
    background-image: url(./img/deco/cat-sleep.svg);

    @include atTablet {
        // positioning
        top: -400px;

        // box model
        height: 380px;
        width: 380px;
    }
}

.cat--pur-2 {
    // positioning
    right: 20px;
    top: -360px;
    z-index: 2;

    // box model
    height: 235px;
    width: 220px;

    // visual
    background-image: url(./img/deco/cat-purple-r.svg);

    @include atTablet {
        // positioning
        right: -40px;
        top: -460px;

        // box model
        height: 400px;
        width: 400px;
    }
}
