.deco-layer {
    // positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    // box model
    height: 100%;
    // border: 1px solid green;
}

.deco-layer--header.deco-layer--blobs {
    -webkit-filter: brightness(1.4) contrast(40);
    filter: brightness(1.4) contrast(40);
}

.deco-layer--header {
    // positioning
    left: 50%;
    transform: translateX(-50%);

    // box model
    width: 320px;

    @include atTablet {
        // box model
        width: 500px;
    }

    @include atDesktopS {
        // positioning
        transform: translateY(-40px);
        transform-origin: bottom center;
        left: auto;
        right: 0;

        // box model
        width: 650px;
    }

    @include atDesktopM {
        // positioning
        right: calc((100% - 1040px) / 2);
    }
}

.deco-layer--about {
    @include atDesktopS {
        // box model
        margin: 0 auto;
        width: 980px;
    }
}

.deco-layer--dots {
    // positioning
    z-index: 4;
}

.deco-layer--dots-2 {
    // positioning
    z-index: 5;
}

.deco-layer--images {
    // positioning
    z-index: 3;
}

.deco-layer--cats {
    // positioning
    z-index: 3;
}

.deco-layer--blobs {
    // positioning
    z-index: 2;
}
