.deco {
    // positioning
    position: absolute;

    // visual
    // border: 1px solid green;

    // visual
    background-repeat: no-repeat;
    background-size: contain;
}

.deco--ok {
    // positioning
    left: 80px;
    top: 200px;

    // box model
    height: 72px;
    width: 45px;

    // visual
    background-image: url('./img/deco/ok.svg');
}

.deco--fb {
    // positioning
    left: 252px;
    top: 280px;

    // box model
    height: 90px;
    width: 48px;

    // visual
    background-image: url('./img/deco/facebook.svg');
}

.deco--vk {
    // positioning
    left: 179px;
    top: 660px;

    // box model
    height: 53px;
    width: 93px;

    // visual
    background-image: url('./img/deco/vk.svg');
}

.deco--inst {
    // positioning
    left: 20px;
    top: 700px;

    // box model
    height: 72px;
    width: 72px;

    // visual
    background-image: url('./img/deco/instagram.svg');
}

.deco--bean-1 {
    // positioning
    left: -40px;
    top: -120px;

    // box model
    height: 186px;
    width: 178px;

    // visual
    background-image: url('./img/deco/bean-1.png');
}

.deco--bean-2 {
    // positioning
    left: 240px;
    top: 120px;

    // box model
    height: 200px;
    width: 200px;

    // visual
    background-image: url('./img/deco/bean-2.png');
}

.deco--bean-3 {
    // positioning
    left: -10px;
    top: 540px;

    // box model
    height: 110px;
    width: 110px;

    // visual
    background-image: url('./img/deco/bean-3.png');
}

.deco--bean-4 {
    // positioning
    left: 270px;
    top: 820px;

    // box model
    height: 180px;
    width: 180px;

    // visual
    background-image: url('./img/deco/bean-4.png');
}

.deco--bean {
    // positioning
    left: 20px;
    top: 700px;

    // box model
    height: 72px;
    width: 72px;

    // visual
    background-image: url('./img/deco/bean-1.png');
}
