.dot {
    // positioning
    position: absolute;

    // visual
    border-radius: 50%;
}

.dot--s {
    // box model
    height: 7px;
    width: 7px;
}

.dot--m {
    // box model
    height: 14px;
    width: 14px;
}

.dot--l {
    // box model
    height: 19px;
    width: 19px;
}

.dot--xl {
    // box model
    height: 35px;
    width: 35px;
}

.dot--org {
    // visual
    background-color: $orange;
}

.dot--red {
    // visual
    background-color: $crimson;
}

.dot--pur {
    // visual
    background-color: $purple;
}

.dot--1 {
    // positioning
    left: 13px;
    top: 515px;
}

.dot--2 {
    // positioning
    left: 50px;
    top: 738px;
}

.dot--3 {
    // positioning
    left: 232px;
    top: 527px;
}

.dot--4 {
    // positioning
    left: 250px;
    top: 763px;
}

.dot--5 {
    // positioning
    right: 119px;
    top: 250px;
}

.dot--6 {
    // positioning
    left: 44px;
    top: 620px;
}

.dot--7 {
    // positioning
    left: 39px;
    top: 330px;
}

.dot--8 {
    // positioning
    right: 200px;
    top: 800px;
}

.dot--9 {
    // positioning
    // left: 255px;
    right: 60px;
    top: -75px;
}

.dot--10 {
    // positioning
    left: -25px;
    top: -95px;
}

.dot--11 {
    // positioning
    right: 25px;
    top: 140px;
}

.dot--12 {
    // positioning
    left: 40px;
    top: 770px;
}

.dot--13 {
    // positioning
    left: -15px;
    top: 380px;
}

.dot--14 {
    // positioning
    right: -15px;
    top: -80px;
}

.dot--15 {
    // positioning
    left: 45px;
    top: 300px;
}
