.dot {
    // positioning
    position: absolute;

    // visual
    border-radius: 50%;
}

.dot--s {
    // box model
    height: 7px;
    width: 7px;

    @include atTablet {
        // box model
        height: 11px;
        width: 11px;
    }

    @include atDesktopS {
        // box model
        height: 16px;
        width: 16px;
    }
}

.dot--m {
    // box model
    height: 14px;
    width: 14px;

    @include atTablet {
        // box model
        height: 19px;
        width: 19px;
    }

    @include atDesktopS {
        // box model
        height: 31px;
        width: 31px;
    }
}

.dot--l {
    // box model
    height: 19px;
    width: 19px;

    @include atTablet {
        // box model
        height: 28px;
        width: 28px;
    }

    @include atDesktopS {
        // box model
        height: 48px;
        width: 48px;
    }
}

.dot--xl {
    // box model
    height: 35px;
    width: 35px;

    @include atTablet {
        // box model
        height: 48px;
        width: 48px;
    }
}

.dot--org {
    // visual
    background-color: $orange;
}

.dot--red {
    // visual
    background-color: $crimson;
}

.dot--pur {
    // visual
    background-color: $purple;
}

.dot--wht {
    // visual
    background-color: $light;
}

.dot--1 {
    // positioning
    left: 13px;
    bottom: 100px;

    @include atTablet {
        // positioning
        left: 30px;
        bottom: 270px;
    }

    @include atDesktopS {
        // positioning
        left: 45px;
        bottom: 405px;
    }
}

.dot--2 {
    // positioning
    left: 50px;
    bottom: -125px;

    @include atTablet {
        // positioning
        left: 65px;
        bottom: -85px;
    }

    @include atDesktopS {
        // positioning
        left: 98px;
        bottom: -180px;
    }
}

.dot--3 {
    // positioning
    left: 232px;
    bottom: 80px;

    @include atTablet {
        // positioning
        left: 360px;
        bottom: 235px;
    }

    @include atDesktopS {
        // positioning
        left: 540px;
        bottom: 343px;
    }
}

.dot--4 {
    // positioning
    left: 250px;
    bottom: -160px;

    @include atTablet {
        // positioning
        left: 380px;
        bottom: -135px;
    }

    @include atDesktopS {
        // positioning
        left: 570px;
        bottom: -203px;
    }
}

.dot--5 {
    // positioning
    right: 119px;
    top: 250px;

    @include atTablet {
        // positioning
        right: 180px;
        top: 280px;
    }

    @include atDesktopS {
        // positioning
        right: 220px;
        top: 200px;
    }
}

.dot--6 {
    // positioning
    left: 44px;
    bottom: 360px;

    @include atTablet {
        // positioning
        left: 120px;
        top: 580px;
    }

    @include atDesktopS {
        // positioning
        top: auto;
        bottom: 200px;
        left: 300px;
    }
}

.dot--7 {
    // positioning
    left: 39px;
    top: 330px;

    @include atDesktopS {
        // positioning
        left: 80px;
    }
}

.dot--8 {
    // positioning
    right: 200px;
    bottom: 160px;

    @include atTablet {
        // positioning
        right: 380px;
        bottom: 220px;
    }

    @include atDesktopS {
        // positioning
        bottom: 160px;
    }
}

.dot--9 {
    // positioning
    right: 60px;
    top: -75px;

    @include atTablet {
        // positioning
        right: 200px;
        top: -120px;
    }

    @include atDesktopS {
        // positioning
        right: 140px;
        top: -60px;
    }
}

.dot--10 {
    // positioning
    left: -25px;
    top: -95px;

    @include atTablet {
        // positioning
        left: 160px;
        top: -100px;
    }

    @include atDesktopS {
        // positioning
        left: 300px;
        // top: -90px;
    }
}

.dot--11 {
    // positioning
    right: 25px;
    top: 140px;

    @include atTablet {
        right: 80px;
        top: 280px;
    }
}

.dot--12 {
    // positioning
    left: 40px;
    bottom: 30px;

    @include atTablet {
        // positioning
        left: 140px;
    }
}

.dot--13 {
    // positioning
    left: -15px;
    bottom: 240px;

    @include atTablet {
        // positioning
        left: 20px;
        bottom: 200px;
    }

    @include atDesktopS {
        // positioning
        left: 80px;
        bottom: 160px;
    }
}

.dot--14 {
    // positioning
    right: -15px;
    top: -80px;

    @include atTablet {
        // positioning
        right: 75px;
        top: -70px;
    }
}

.dot--15 {
    // positioning
    left: 45px;
    bottom: -30px;

    @include atTablet {
        // positioning
        left: 80px;
        bottom: 230px;
    }
}

.dot--101,
.dot--102,
.dot--103,
.dot--104,
.dot--105,
.dot--106,
.dot--107,
.dot--108,
.dot--109 {
    // box model
    display: none;

    @include atTablet {
        // box model
        display: block;
    }
}

@include atTablet {
    .dot--101 {
        // positioning
        left: 40px;
        top: 260px;
    }

    .dot--102 {
        // positioning
        right: 80px;
        top: 360px;
    }

    .dot--103 {
        // positioning
        left: 80px;
        bottom: 300px;
    }

    .dot--104 {
        // positioning
        right: 400px;
        bottom: 140px;
    }

    .dot--105 {
        // positioning
        right: 70px;
        top: 180px;
    }

    .dot--106 {
        // positioning
        left: 200px;
        bottom: 40px;
    }

    .dot--107 {
        // positioning
        left: 165px;
        top: 200px;
    }

    .dot--108 {
        // positioning
        right: 90px;
        top: 400px;
    }

    .dot--109 {
        // positioning
        left: -10px;
        top: 500px;
    }
}

@include atDesktopS {
    .dot--107 {
        // positioning
        top: 120px;
    }

    .dot--108 {
        // positioning
        top: 280px;
    }

    .dot--109 {
        // positioning
        left: 10px;
        top: 340px;
    }
}
