.dot {
    // positioning
    position: absolute;

    // visual
    border-radius: 50%;
}

.dot--s {
    // box model
    height: 7px;
    width: 7px;
}

.dot--m {
    // box model
    height: 14px;
    width: 14px;
}

.dot--l {
    // box model
    height: 19px;
    width: 19px;
}

.dot--org {
    // visual
    background-color: $orange;
}

.dot--red {
    // visual
    background-color: $crimson;
}

.dot--pur {
    // visual
    background-color: $purple;
}

.dot--1 {
    // positioning
    left: 13px;
    top: 515px;
}

.dot--2 {
    // positioning
    left: 50px;
    top: 738px;
}

.dot--3 {
    // positioning
    left: 232px;
    top: 527px;
}

.dot--4 {
    // positioning
    left: 250px;
    top: 763px;
}

.dot--5 {
    // positioning
    left: 236px;
    top: 250px;
}

.dot--6 {
    // positioning
    left: 44px;
    top: 620px;
}

.dot--7 {
    // positioning
    left: 39px;
    top: 330px;
}

.dot--8 {
    // positioning
    left: 135px;
    top: 800px;
}
