.button {
    // box model
    display: inline-block;
    vertical-align: top;
    padding: 17px 40px;
    max-width: 280px;
    min-width: 260px;
    margin-bottom: 20px;

    // typography
    color: $light;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    // visual
    background-color: $purple;
    border-radius: 25px;
    box-shadow: 0 5px 20px 0 rgba($dark, 0.3);

    @include atDesktopS {
        // box model
        min-width: 280px;
        max-width: inherit;
    }
}

.button--red {
    // visual
    background-color: $crimson;
}