.section-subtitle {
    // box model
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;

    // typography
    color: $purple;
    font-size: 1rem;
    line-height: 1.5;

    @include atTablet {
        // box model
        max-width: 400px;

        // typography
        font-size: 1.25rem;
        font-weight: 500;
    }

    @include atDesktopS {
        // box model
        max-width: 560px;
    }
}

.section-subtitle--dark {
    // typography
    color: $dark;
}