.section-subtitle {
    // box model
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    // typography
    color: $purple;
    line-height: 1.5;
}

.section-subtitle--dark {
    // typography
    color: $dark;
}